# Visual studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Dd]ebug/
[Rr]elease/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/
*.VisualState.xml
TestResult.xml

# Custom
Application/Riskeer/src/Application.Riskeer.Setup/Examples.wxs
Application/Riskeer/src/Application.Riskeer.Setup/RiskeerPayload.wxs
Application/Riskeer/src/Application.Riskeer.Setup/ThirdPartyLicensesPayload.wxs
Core/Common/src/Core.Common.Version/GlobalAssembly.cs
*.ldb
Resources.Designer.cs
Resources.resources

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NuGet Packages
*.nupkg
packages/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
