<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <!-- Static variables. -->
    <?include Variables.wxi ?>
    <Package Name="$(var.ApplicationFullName)" Language="1043" Version="$(var.ReleaseVersion)"
             Manufacturer="!(loc.Manufacturer)" UpgradeCode="AC3C9EA3-D342-4A5F-BF37-1E31A8F87D55"
             InstallerVersion="200">
        <SummaryInformation Manufacturer="!(loc.Manufacturer)"/>
        <Media Id="1" Cabinet="RiskeerFull.cab" EmbedCab="yes"/>
        <Property Id="ARPPRODUCTICON" Value="Riskeer.ico"/>
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowSameVersionUpgrades="yes"/>
        <!-- Specify default installer UI and which folder the user can configure during setup. -->
        <UIRef Id="WixUI_Deltares"/>
        <!-- Specify that Wix supplies the progress texts. -->
        <UIRef Id="WixUI_ErrorProgressText"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <WixVariable Id="WixUIBannerBmp" Value="Banner_493x77.jpg"/>
        <WixVariable Id="WixUIDialogBmp" Value="Start_493x312.jpg"/>
        <!-- Requirement: .Net framework 4.8.1 installed on machine -->
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_481_OR_LATER_INSTALLED"/>
        <Launch Condition="Installed OR WIX_IS_NETFRAMEWORK_481_OR_LATER_INSTALLED"
                Message="!(loc.NetFramework481Required)"/>
        <!-- Request the common documents folder path -->
        <util:QueryWindowsDirectories/>
        <Feature Id="CompleteInstallation" Title="$(var.ApplicationFullName)" Level="1"
                 ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" AllowAbsent="no">
            <ComponentGroupRef Id="RiskeerExecutable"/>
            <ComponentGroupRef Id="RiskeerExecutableConfig"/>
            <ComponentGroupRef Id="MigrationExecutable"/>
            <ComponentGroupRef Id="MigrationExecutableConfig"/>
            <ComponentGroupRef Id="RiskeerApplicationComponents"/>
            <ComponentGroupRef Id="Examples"/>
            <ComponentGroupRef Id="InstallationVerificationFiles"/>
            <ComponentGroupRef Id="CalculationConfigurationFiles"/>
            <ComponentRef Id="ProgramMenuShortcut"/>
            <ComponentRef Id="DesktopShortcut"/>
            <ComponentRef Id="UserManual"/>
            <ComponentRef Id="License"/>
            <ComponentRef Id="ProgramMenuManualShortcut"/>
            <ComponentRef Id="IHWFile"/>
            <ComponentRef Id="FileAssociation"/>
        </Feature>
        <Icon Id="Riskeer.ico" SourceFile="Riskeer.ico"/>
        <Icon Id="Manual.ico" SourceFile="Manual.ico"/>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="BOIDIR" Name="!(loc.ApplicationGroupShortName)">
                <Directory Id="INSTALLDIR" Name="$(var.ApplicationFullName)">
                    <Component Id="FileAssociation" Guid="1117D79E-521C-48C3-9E23-549833F7BA09">
                        <File Id="Riskeer.ico" Source="Riskeer.ico" KeyPath="yes"/>
                        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Riskeer.risk" Name="FriendlyTypeName"
                                       Value="!(loc.RiskDescription)" Type="string"/>
                        <ProgId Id="Riskeer.risk" Description="!(loc.RiskDescription)" Icon="Riskeer.ico">
                            <Extension Id="risk" ContentType="application/risk">
                                <Verb Id="open" TargetFile="filoS7FVbpcrS_SqnbA_Uu4wgUndO4" Command="Open"
                                      Argument="&quot;%1&quot;"/>
                                <MIME ContentType="application/risk" Default="yes"/>
                            </Extension>
                            <Extension Id="rtd" ContentType="application/rtd">
                                <MIME ContentType="application/rtd" Default="no"/>
                            </Extension>
                        </ProgId>
                    </Component>
                    <Component Id="UserManual" Guid="6AD109DF-87BD-4748-BCF6-D1391F12D8A1">
                        <File Id="RiskeerUserManual" Name="!(loc.UserManualName).pdf" Source="!(loc.UserManualName).pdf"
                              KeyPath="yes"/>
                    </Component>
                    <Component Id="License" Guid="67026D06-0AC2-4DC2-B0F0-18C0048A3290">
                        <File Id="RiskeerLicense" Name="!(loc.LicenseName)" Source="!(loc.LicenseName)" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>
        <!-- Start menu folder -->
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuRiskeer" Name="$(var.ApplicationFullName)">
                <Component Id="ProgramMenuShortcut" Guid="525A6CF6-DCFF-4F57-8A41-E55660F320D6">
                    <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ApplicationFullName)"
                              Description="!(loc.StartApplicationDescription)"
                              Target="[INSTALLDIR]!(loc.ApplicationLongName).exe" WorkingDirectory="INSTALLDIR"
                              Icon="Riskeer.ico"/>
                    <RemoveFolder Id="RemoveProgramMenuShortcut" Directory="ProgramMenuRiskeer" On="uninstall"/>
                    <RegistryValue Root="HKCU"
                                   Key="Software\!(loc.Manufacturer)\InstalledProducts\$(var.ApplicationFullName)"
                                   Name="RiskeerProgMenuShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
                </Component>
                <Component Id="ProgramMenuManualShortcut" Guid="30E330BB-E0DF-43EF-9875-16F6FCEB3C66">
                    <Shortcut Id="UserManualShortcut" Name="!(loc.UserManualName)"
                              Description="!(loc.UserManualDescription)" Target="[INSTALLDIR]!(loc.UserManualName).pdf"
                              Icon="Manual.ico"/>
                    <RegistryValue Root="HKCU"
                                   Key="Software\!(loc.Manufacturer)\InstalledProducts\$(var.ApplicationFullName)"
                                   Name="RiskeerProgMenuManualShortcutInstalled" Type="integer" Value="1"
                                   KeyPath="yes"/>
                </Component>
            </Directory>
        </StandardDirectory>
        <!-- Desktop -->
        <StandardDirectory Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="D8F009EB-0C8C-4893-ADD2-22314ACCF2A7">
                <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.ApplicationFullName)"
                          Description="!(loc.StartApplicationDescription)"
                          Target="[INSTALLDIR]!(loc.ApplicationLongName).exe" WorkingDirectory="INSTALLDIR"
                          Icon="Riskeer.ico"/>
                <RegistryValue Root="HKCU"
                               Key="Software\!(loc.Manufacturer)\InstalledProducts\$(var.ApplicationFullName)"
                               Name="RiskeerDesktopShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </StandardDirectory>
        <!-- Common documents -->
        <Directory Id="WIX_DIR_COMMON_DOCUMENTS">
            <Directory Id="CommonDocumentsApplicationGroup" Name="!(loc.ApplicationGroupShortName)">
                <Directory Id="CommonDocumentsApplication" Name="$(var.ApplicationFullName)">
                    <Directory Id="CommonDocumentsNBPW" Name="NBPW">
                        <Component Id="IHWFile" Guid="5BA794B1-2B84-46C5-A6F0-4BBAD110376D">
                            <File Id="voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.dbf"
                                  Source="IHW\voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.dbf"/>
                            <File Id="voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.prj"
                                  Source="IHW\voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.prj"/>
                            <File Id="voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.qpj"
                                  Source="IHW\voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.qpj"/>
                            <File Id="voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.shp"
                                  Source="IHW\voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.shp"
                                  KeyPath="yes"/>
                            <File Id="voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.shx"
                                  Source="IHW\voorbeeldbestand_nationaalBestandPrimaireWaterkeringen.shx"/>
                            <RemoveFolder Id="RemoveCommonDocumentsNBPW" Directory="CommonDocumentsNBPW"
                                          On="uninstall"/>
                            <RemoveFolder Id="RemoveCommonDocumentsApplication" Directory="CommonDocumentsApplication"
                                          On="uninstall"/>
                        </Component>
                    </Directory>
                    <!-- Examples folder -->
                    <Directory Id="CommonDocumentsExamples" Name="!(loc.Examples)"/>
                    <!-- Installation verification -->
                    <Directory Id="CommonDocumentsInstallationVerification" Name="!(loc.InstallationVerification)"/>
                    <!-- Calculation configuration -->
                    <Directory Id="CommonDocumentsCalculationConfiguration" Name="!(loc.CalculationConfigurationXSD)"/>
                </Directory>
            </Directory>
        </Directory>
    </Package>
</Wix>