<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define deltashell_gui_bin="$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\"?>
  <?define ReleaseVersion="3.0.1" ?>
  <?define ShortVersion="3.0" ?>
  <?define ProductName="Habitat (Early Preview)" ?>

  <?ifdef env.BUILD_NUMBER ?>
    <?define FullProductVersion="$(var.ReleaseVersion).$(env.BUILD_NUMBER)" ?>
  <?else?>
    <?define FullProductVersion="$(var.ReleaseVersion).0" ?>
  <?endif?>

  <?define Title="Habitat (Early Preview)" ?>
  <?define Description="Spatial Analysis Tool" ?>
  <?define StartPage="http://habitat.deltares.nl" ?>

  <!-- Do not change this value, unless you want to remove the possibility of the 
         current installer to not (be able to) upgrade/patch an older installation. -->
  <?define UpgradeCode="0497df51-fed6-45c5-802f-408ff845e030" ?>

  <Product Name='$(var.ProductName) $(var.FullProductVersion)' Id='*' UpgradeCode="$(var.UpgradeCode)"
    Language='1033' Codepage='1252' Version="$(var.FullProductVersion)" Manufacturer='Deltares'>

    <Package Id='*' Keywords='Installer' Description="$(var.ProductName) Installer"
      Comments='$(var.ProductName) is a program developed by Deltares.' Manufacturer='Deltares'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <!-- The following piece of code is responsible for enabling "Mayor Upgrades".
         It allows for patching an existing installations and incremental upgrades
         such a going from an existing 3.1 installation to 3.2 with an incremental
         installer.
         This is currently commented out as this feature is not used properly nor is
         it currently wanted. In order to allow mayor patches and mayor upgrades, the 
         Product.UpgradeCode between installs should be identical, the Product.ID 
         should be different and the Product.Version should be different. Next,
         the current Product.Version should be within the range of the (previous?)
         installation specified below, in order to recognize an upgrade. If that value
         falls outside the area, the installations are considered completely unrelated.
         
         For more info, check:
         http://blogs.technet.com/b/alexshev/archive/2008/02/15/from-msi-to-wix-part-8-major-upgrade.aspx
         and
         http://msdn.microsoft.com/en-us/library/aa369786(v=vs.85).aspx
         [bouvrie]
        
        <Upgrade Id='0497df51-fed6-45c5-802f-408ff845e030'>
          <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
            Minimum='3.0.0.0' IncludeMinimum='yes'
            Maximum="3.99.0.0" IncludeMaximum='no' />
        </Upgrade>
        -->

    <!--check for dotnet version-->
    <?include ..\..\DeltaShell\DotNetFramework4Check.wxi?>
    <!--check for version of operating system-->
    <?include ..\..\DeltaShell\OSVersionCheck.wxi?>

    <Property Id="INSTALLDIR">
      <RegistrySearch Id='DeltaresDeltaShellRegistry' Type='raw'
        Root='HKLM' Key='Software\[Manufacturer]\[ProductName]' Name='InstallDir' />
    </Property>


    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />
   
    <Icon Id="icon.ico" SourceFile="Resources\HabitatLogo.ico"/>
    
    <!-- uninstall group shows specific icon-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!--define a directory structure for main application and plugins -->
    <!-- use include files to tell the installer which files should be copied to target directories -->
    <Directory Id='TARGETDIR' Name='SourceDir'>

      <!-- This line should be included due to installer's payload is dependent on the 
             Visual Studio C++ redistributable. It should always be directly under TARGETDIR.
          
             For more info, check:
             http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/install_vcredist.html
        -->
      <Merge Id="VCRedis10" Language="0" SourceFile="Dependencies\microsoft_vc100_crt_x86.msm" DiskId="1" />
      
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='DeltaresDir' Name='Deltares'>
          <Directory Id='INSTALLDIR' Name="$(var.ProductName) $(var.FullProductVersion)">
            <Directory Id='BINDIR' Name='bin'>
              <Component Id='MainExecutable' Guid='716E3B6B-F409-444b-BDF8-9409F0260B4F'>

                <File Id="logo" Name="HabitatSplashScreen.png" DiskId='1' Source='Resources\HabitatSplashScreen.png' />
                <File Id="License.rtf" Name="License.rtf" DiskId='1' Source='License.rtf'/>
                <File Id="WindowLayout_normal.xml" Name="WindowLayout_normal.xml" DiskId="1" Source="WindowLayout_normal.xml"/>

                <?include ..\..\DeltaShell\IronPythonDlls.wxi?>
                
                <util:XmlFile Id="SetKey1"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;startPageUrl&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.StartPage)"/>

                <util:XmlFile Id="SetKey2"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;mainWindowTitle&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.Title)"/>

                <util:XmlFile Id="SetKey3"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;splashScreenLogoImageFilePath&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="HabitatSplashScreen.png"/>

                <util:XmlFile Id="SetKey4"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;applicationName&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.ProductName)"/>

                <util:XmlFile Id="SetKey5"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;applicationVersion&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.FullProductVersion)"/>
              
                <util:XmlFile Id="SetKey6"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;fullVersion&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.FullProductVersion)"/>

                <util:XmlFile Id="SetKey7"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;shortVersion&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="$(var.ShortVersion)"/>

                <util:XmlFile Id="SetKey8"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;supportEmail&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="habitat@deltares.nl"/>

                <util:XmlFile Id="SetKey9"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;supportPhone&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="+31 (0)88 335 7858"/>

                <util:XmlFile Id="SetKey10"
                    Action="setValue"
                    ElementPath="/configuration/appSettings/add[\[]@key=&quot;copyright&quot;[\]]/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="© Deltares 2007-2013"/>
              
                <util:XmlFile Id="SetKey11"
                    Action="setValue"
                    ElementPath="/configuration/log4net/root/level/@value"
                    File="[#DeltaShell.Gui.exe.config]"
                    Value="INFO"/>

                <?include ..\..\DeltaShell\MainExecutableFiles.wxi?>

              </Component>
            
              <?include ..\..\DeltaShell\NetCdf.wxi?>
              <?include ..\..\DeltaShell\GdalData.wxi?>

              <!-- ! Put files/executables targeted by shortcuts in separate component ! -->
              <Component Id="DeltaShellExeAndStartMenuShortcut" Guid="*">
                <File Id='DeltaShellEXE' Name='DeltaShell.Gui.exe' DiskId='1' Source='$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\$(var.Configuration)\DeltaShell.Gui.exe' KeyPath='yes'>
                  <Shortcut Id="startmenuDeltaShell" Directory="ProgramMenuDir" Name="$(var.ProductName) $(var.FullProductVersion)" WorkingDirectory='BINDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
                  <Shortcut Id="desktopDeltaShell" Directory="DesktopFolder" Name="$(var.ProductName) $(var.FullProductVersion)" WorkingDirectory='BINDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
                </File>
              </Component>

              <Directory Id='MainExecutableResourcesNL' Name='nl-NL'>
                <Component Id='MainExecutableResourcesNL' Guid='0A96C3C7-568D-4bbf-A9A6-DCFF187ABEB9'>
                  <File Id="nl.DeltaShell.Gui.resource.dll" Name="DeltaShell.Gui.resources.dll" DiskId='1' Source='$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\$(var.Configuration)\nl-NL\DeltaShell.Gui.resources.dll' />
                </Component>
              </Directory>

            </Directory>

            <Directory Id='PluginsFolder' Name='plugins'>
              <!-- pass guid as variable to include project-->
              <?define PLUGIN_ID = "DCAAB8A0-735C-4cf8-B94B-0D2040018D73"?>
              <?include ..\..\DeltaShell\Plugins\CommonToolsPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID = "D95C3523-F6C6-466C-B083-8FDBEC5EE167"?>
              <?include ..\..\DeltaShell\Plugins\CommonToolsGuiPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID = "87C06034-7C1E-40af-8074-2B78E4DA80AD"?>
              <?include ..\..\DeltaShell\Plugins\NHibernatePlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="46FA62D1-6C24-40dc-96C9-1B8666C9C6D1" ?>
              <?include ..\..\DeltaShell\Plugins\NetCDFPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="8009C854-8890-40ab-8D59-D5947F3F4142" ?>
              <?include ..\..\DeltaShell\Plugins\SharpMapGisPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="627FC6CB-27E7-48C9-9FDA-B340DDAC7CA0" ?>
              <?include ..\..\DeltaShell\Plugins\SharpMapGisGuiPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID = "4CB997F6-E298-4679-BDD0-4C69DF296E7E"?>
              <?include ..\..\DeltaShell\Plugins\ProjectExplorerPlugin.wxi?>
              <?undef PLUGIN_ID ?>
              
              <?define PLUGIN_ID = "DF4753D6-DB1C-40ba-B079-B1C2A9021DA5"?>
              <?include HabitatPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID = "fafd3439-915f-4212-b4a6-0446f012978d"?>
              <?include Importers.HabitatPlugin.wxi?>
              <?undef PLUGIN_ID ?>
              
              <?define PLUGIN_ID = "3D569B0F-E6FF-4f5d-972A-FCCCC82FAA05"?>
              <?include XmlPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ='1FDE5D76-18EF-44A0-93CA-A1321E80F306' ?>
              <?include ..\..\DeltaShell\Plugins\ScriptingPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="fdf644fc-6261-49e4-84ea-d8384df23ca3" ?>
              <?include ..\..\DeltaShell\Plugins\ScriptingGuiPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="9e180038-3cb9-48ed-86d4-d08e10c6652f" ?>
              <?include ..\..\DeltaShell\Plugins\ToolboxPlugin.wxi?>
              <?undef PLUGIN_ID ?>

              <?define PLUGIN_ID ="f2b49b12-88c7-4e70-b8ac-afb5c8e4f7c6" ?>
              <?include ..\..\DeltaShell\Plugins\ToolboxGuiPlugin.wxi?>
              <?undef PLUGIN_ID ?>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="SystemFolder" Name="System">
        <Component Id="dsmDlls" Guid="C02106C2-8AAA-4557-A16E-FE93EB2BC548">
          <File Id="dmsInfo.dll" Name="dmsInfo.dll" DiskId='1' Source='$(var.SolutionDir)\lib\Plugins\Habitat\DemisDllsForGridConv\dmsInfo.dll' SelfRegCost='1' />
          <File Id="dmsMLIB.dll" Name="dmsMLIB.dll" DiskId='1' Source='$(var.SolutionDir)\lib\Plugins\Habitat\DemisDllsForGridConv\dmsMLIB.dll' SelfRegCost='1' />
          <File Id="dmsTools.dll" Name="dmsTools.dll" DiskId='1' Source='$(var.SolutionDir)\lib\Plugins\Habitat\DemisDllsForGridConv\dmsTools.dll' SelfRegCost='1' />
        </Component>
      </Directory>

      <Component Id="UninstallShortcutComponent" Guid="E7E30FD1-ACBE-4526-9129-8CB37DE2A0DC">
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedUninstallerShortcut" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="UninstallProduct"
                            Name="Uninstall $(var.ProductName)"
                            Target="[System64Folder]msiexec.exe"
                            Arguments="/x [ProductCode]"
                            Directory="ProgramMenuDir"
                            Description="Uninstalls My Application"/>
      </Component>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramGroupMenuDir" Name="Deltares">

          <Component Id="ProgramGroupMenuDir" Guid="37A70341-3B16-420A-83AA-94FD83F5B67B">
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedFolder0" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFolder Id="ProgramGroupMenuDir" On="uninstall" />
          </Component>

          <Directory Id="ProgramMenuDir" Name="$(var.ProductName) $(var.FullProductVersion)">
            <Component Id="ProgramMenuDir" Guid="D8B32272-BEC8-4911-9EB2-9A918CDD7D7F">
              <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedFolder1" Type="integer" Value="1" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Title="$(var.Title)" Description='The complete package.' 
              Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      
      <Feature Id="DeltaShell" Title="Delta Shell" Description="Framework for plugins" Level="1" Absent="disallow" AllowAdvertise="no">
        <MergeRef Id="VCRedis10"/>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='DeltaShellExeAndStartMenuShortcut'/>
        <ComponentRef Id='MainExecutableResourcesNL' />
        <ComponentRef Id="ProgramGroupMenuDir"/>
        <ComponentRef Id="ProgramMenuDir" />
		<ComponentRef Id="comp_netcdf_x86" />
        <ComponentRef Id="UninstallShortcutComponent" />
      </Feature>

      <Feature Id="DeltaShellPlugins" Title="Common Plugins" Description="Common plugins for Delta Shell framework" Level="1" Absent="disallow" AllowAdvertise="no" Display="hidden">
        <ComponentRef Id='CommonToolsPlugin' />
        <ComponentRef Id='CommonToolsGuiPlugin' />
        <ComponentRef Id='NHibernatePlugin' />
		<ComponentRef Id="comp_sqlite_x86" />
        <ComponentRef Id='NetCDFPlugin'/>
        <ComponentRef Id="ProjectExplorerPlugin"/>
        <ComponentRef Id="ProjectExplorerPluginResourcesNL"/>
        <ComponentRef Id="ProjectExplorerPluginResourcesRU"/>
        <ComponentRef Id='SharpMapGisPlugin'/>
        <ComponentRef Id='SharpMapGisGuiPlugin'/>
        <ComponentRef Id="ScriptingPlugin"/>
        <ComponentRef Id="ScriptingGuiPlugin"/>
        <ComponentRef Id="ToolboxPlugin"/>
        <ComponentRef Id="ToolboxGuiPlugin"/>
        <ComponentRef Id="comp_SharpMap_Extensions_gdal_x86" />
        <?include ..\..\DeltaShell\GdalData_FeatureContent.wxi?>
      </Feature>

      <?include ..\XBeach\Feature_ToolboxPluginDefaultScriptingDirectories.wxi?>
	    <?include ..\..\DeltaShell\PythonLibraries_FeatureContent.wxi?>
      <?include ..\..\DeltaShell\PythonScripts_FeatureContent.wxi?>
	  
      <Feature Id='Habitat' Title="$(var.Title)" Description ="$(var.Description)" Level="3" Absent="disallow" AllowAdvertise="no">
        <!-- plugins that are needed by habitat-->
        <ComponentRef Id='HabitatPlugin'/>
        <ComponentRef Id='XmlPlugin' /> <!-- supports import of xml-based projects -->
        <ComponentRef Id='Importers.HabitatPlugin'/>
        <ComponentRef Id='dsmDlls'/>
      </Feature>
      
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" ></Property>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!--Note that jpg and png in setup is visible on Windows7, but not on XP and Vista-->
    <WixVariable Id="WixUIBannerBmp" Value="Resources/habitat_setup_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/habitat_setup_start.bmp" />

    <WixVariable Id="WixUICostingPopupOptOut" Value="dummy" />

    <UIRef Id="Habitat_WixUI_Deltares" />
    <UI>
      <TextStyle Id="White8" FaceName="Tahoma" Bold="yes" Size="16" Red="0" Green="0" Blue="0"  />

      <!-- These dialog references are needed for CloseApplication above to work correctly -->

      <DialogRef Id="FilesInUseDeltares" />
      <DialogRef Id="MsiRMFilesInUseDeltares" />
    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />

    <InstallExecuteSequence>
    		  <AppSearch Sequence="1"></AppSearch>
    		  <LaunchConditions After="AppSearch" />
      <!--RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts-->
      <RemoveExistingProducts Before="InstallInitialize"/>
	  </InstallExecuteSequence>
    
  </Product>
</Wix>
