<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define deltashell_gui_bin="$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\"?>
  <?define ReleaseVersion="1.0.0" ?>
  <?define ShortVersion="1.0" ?>
  <?define ProductName="MorphAn (Early Preview)" ?>

  <?ifdef env.BUILD_NUMBER ?>
    <?define FullProductVersion="$(var.ReleaseVersion).$(env.BUILD_NUMBER)" ?>
  <?else?>
    <?define FullProductVersion="$(var.ReleaseVersion).0" ?>
  <?endif?>

  <?define Title="MorphAn (Early Preview)" ?>
  <?define Description="Coastal morphology analysis" ?>
  <?define ManualFileName="MorphAn User Manual 1.2.3.pdf"?>
  <?define SplashScreen="morphanSplashScreen.png"?>
  <?define StartPage="http://www.helpdeskwater.nl/onderwerpen/waterveiligheid/"?>


  <!-- Do not change this value, unless you want to remove the possibility of the 
         current installer to not (be able to) upgrade/patch an older installation. -->
  <?define UpgradeCode="91E192F6-9878-4FCC-A2C5-4D6CA889B0AC" ?>

  <Product Name="$(var.ProductName) $(var.FullProductVersion)" Id="*" UpgradeCode="$(var.UpgradeCode)"
    Language="1033" Codepage="1252" Version="$(var.FullProductVersion)" Manufacturer="Deltares">
    
    <Package Id="*" Keywords="Installer" Description="$(var.ProductName) Installer"
      Comments="$(var.ProductName) is a program developed by Deltares." Manufacturer="Deltares"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <!-- The following piece of code is responsible for enabling "Mayor Upgrades".
         It allows for patching an existing installations and incremental upgrades
         such a going from an existing 3.1 installation to 3.2 with an incremental
         installer.
         This is currently commented out as this feature is not used properly nor is
         it currently wanted. In order to allow mayor patches and mayor upgrades, the 
         Product.UpgradeCode between installs should be identical, the Product.ID 
         should be different and the Product.Version should be different. Next,
         the current Product.Version should be within the range of the (previous?)
         installation specified below, in order to recognize an upgrade. If that value
         falls outside the area, the installations are considered completely unrelated.
         
         For more info, check:
         http://blogs.technet.com/b/alexshev/archive/2008/02/15/from-msi-to-wix-part-8-major-upgrade.aspx
         and
         http://msdn.microsoft.com/en-us/library/aa369786(v=vs.85).aspx
         [bouvrie]
        
        <Upgrade Id="$(var.UpgradeCode)">
          <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
            Minimum="1.0.0.0" IncludeMinimum="yes" 
            Maximum="1.99.0.0" IncludeMaximum="no" />
        </Upgrade>
        -->

     <!--check for dotnet version--> 
    <?include ..\..\DeltaShell\DotNetFramework4Check.wxi?>
     <!--check for version of operating system--> 
    <?include ..\..\DeltaShell\OSVersionCheck.wxi?>

    <Property Id="INSTALLDIR">
      <RegistrySearch Id="DeltaresDeltaShellRegistry" Type="raw"
        Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" />
    </Property>

    <Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="Resources\morphanlogo.ico"/>
    <Icon Id="pdf.ico" SourceFile="Resources\pdf.ico"/>

    <!-- uninstall group shows specific icon-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!--define a directory structure for main application and plugins -->
    <!-- use include files to tell the installer which files should be copied to target directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="DeltaresDir" Name="Deltares">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName) $(var.FullProductVersion)">
            <Directory Id="BINDIR" Name="bin">
              <Directory Id='MainExecutableResourcesNL' Name='nl-NL'>
                <Component Id='MainExecutableResourcesNL' Guid='1E79C011-5349-493C-B2D8-8AB68D328C70'>
                  <File Id="nl.DeltaShell.Gui.resource.dll" Name="DeltaShell.Gui.resources.dll" DiskId='1' Source='$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\$(var.Configuration)\nl-NL\DeltaShell.Gui.resources.dll' />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="PluginsFolder" Name="plugins">
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramGroupMenuDir" Name="Deltares">
          <Directory Id="ProgramMenuDir" Name="$(var.ProductName) $(var.FullProductVersion)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <!-- This line should be included due to installer's payload is dependent on the 
             Visual Studio C++ redistributable. It should always be directly under TARGETDIR.
          
             For more info, check:
             http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/install_vcredist.html
        -->
      <Merge Id="VCRedis10" Language="0" SourceFile="Dependencies\microsoft_vc100_crt_x86.msm" DiskId="1" />
    </DirectoryRef>
    
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="MainDirComponent" Guid="D9F6158F-98B0-4BCC-A208-AE1460EA66E0">
        <File Id="MorphAnManual" Name="$(var.ManualFileName)" Source='Resources\MorphAn User Manual 1.2.3.pdf' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BINDIR">
      <Component Id="MainExecutable" Guid="73C72B44-17A1-438D-804D-3EF1D3AA60E9">

        <File Id="icon" Name="$(var.SplashScreen)" DiskId='1' Source='Resources\$(var.SplashScreen)' />
        <File Id="License.rtf" Name="License.rtf" DiskId="1" Source="License.rtf"/>
        <File Id="WindowLayout_normal.xml" Name="WindowLayout_normal.xml" DiskId="1" Source="WindowLayout_normal.xml"/>

        <util:XmlFile Id="SetKey1"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;startPageUrl&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.StartPage)"/>

        <util:XmlFile Id="SetKey2"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;mainWindowTitle&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.Title)"/>

        <util:XmlFile Id="SetKey3"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;splashScreenLogoImageFilePath&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.SplashScreen)"/>

        <util:XmlFile Id="SetKey4"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;applicationName&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.ProductName)"/>

        <util:XmlFile Id="SetKey5"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;applicationVersion&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.FullProductVersion)"/>

        <util:XmlFile Id="SetKey6"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;fullVersion&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.FullProductVersion)"/>

        <util:XmlFile Id="SetKey7"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;shortVersion&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="$(var.ShortVersion)"/>

        <util:XmlFile Id="SetKey8"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;supportEmail&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="morphan@deltares.nl / www.helpdeskwater.nl"/>

        <util:XmlFile Id="SetKey9"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;supportPhone&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="+31 (0)88 335 8339 / 0800-NLWATER"/>

        <util:XmlFile Id="SetKey10"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;copyright&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="© Deltares 2008-2015"/>

        <util:XmlFile Id="SetKey11"
            Action="setValue"
            ElementPath="/configuration/log4net/root/level/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="INFO"/>

        <util:XmlFile Id="SetKey12"
            Action="setValue"
            ElementPath="/configuration/appSettings/add[\[]@key=&quot;manualFileName&quot;[\]]/@value"
            File="[#DeltaShell.Gui.exe.config]"
            Value="[INSTALLDIR]\$(var.ManualFileName)"/>

        <?include ..\..\DeltaShell\MainExecutableFiles.wxi?>
        <?include ..\..\DeltaShell\IronPythonDlls.wxi?> <!--TODO: hmm, this adds files only needed by an optional feature-->
      </Component>

      <?include ..\..\DeltaShell\NetCdf.wxi?>
      <?include ..\..\DeltaShell\GdalData.wxi?>

      <!-- ! Put files/executables targeted by shortcuts in separate component ! -->
      <Component Id="DeltaShellExeAndStartMenuShortcut" Guid="*">
        <File Id='DeltaShellEXE' Name='DeltaShell.Gui.exe' DiskId='1' Source='$(var.SolutionDir)\src\DeltaShell\DeltaShell.Gui\bin\$(var.Configuration)\DeltaShell.Gui.exe' KeyPath='yes' />
        <Shortcut Id="startmenuDeltaShell" Directory="ProgramMenuDir" Name="$(var.ProductName) $(var.FullProductVersion)" WorkingDirectory='BINDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
        <Shortcut Id="desktopDeltaShell" Directory="DesktopFolder" Name="$(var.ProductName) $(var.FullProductVersion)" WorkingDirectory='BINDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />

        <ProgId Id="MorphAn.Project" Description="MorphAn project" Icon="icon.ico" IconIndex="0" Advertise="yes">
          <Extension Id="dsproj">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/dsproj" Default="yes" />
          </Extension>
        </ProgId>
          
        <RemoveFile Id="RemoveDeltaShellEXE" On="uninstall" Name="DeltaShellEXE"/>
      </Component>
      
      <Component Id="MorphAnManualStartMenuShortcut" Guid="*">
        <File Id='MorphAnManualShortcut' Name='$(var.ManualFileName)' DiskId='1' Source='Resources\MorphAn User Manual 1.2.3.pdf' KeyPath='yes'>
          <Shortcut Id="startmenuXBeachGravelManual" Directory="ProgramMenuDir" WorkingDirectory='INSTALLDIR' Name="$(var.ManualFileName)" Icon="pdf.ico" IconIndex="0" Advertise="yes" />
        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PluginsFolder">
      <?define PLUGIN_ID = "6701D155-775C-477F-AAE2-BE98F2DD7A07"?>
      <?include ..\..\DeltaShell\Plugins\CommonToolsPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID = "2A18B7FA-C403-4DA2-9A80-9AE8B5AE60DE"?>
      <?include ..\..\DeltaShell\Plugins\CommonToolsGuiPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID = "83A67C69-E7A6-4C1E-BDD2-3651DBB0C6B3"?>
      <?include ..\..\DeltaShell\Plugins\NHibernatePlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="FD682C3F-90B2-4BA6-B221-FB57E808BAFB" ?>
      <?include ..\..\DeltaShell\Plugins\NetCDFPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="9680EDEE-7B41-4572-9621-E73C640D918E" ?>
      <?include ..\..\DeltaShell\Plugins\SharpMapGisPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="5ED86C69-B1F5-413F-B607-723DF126C6B6" ?>
      <?include ..\..\DeltaShell\Plugins\SharpMapGisGuiPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID = "599B78DF-FE56-4983-B0A6-3963168EFCF2"?>
      <?include ..\..\DeltaShell\Plugins\ProjectExplorerPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="327DAFA0-476B-4A14-B3F5-379F7313D2FD" ?>
      <?define PLUGIN_ID_2 ="e2c42702-47ed-4a55-82de-670863feef49" ?>
      <?include MorphAnPlugin.wxi?>
      <?undef PLUGIN_ID_2 ?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="bde196ba-7164-417b-b93e-9477eada9e21" ?>
      <?define PLUGIN_ID_2 ="615b0e37-2f8a-422e-944a-285844f39e88" ?>
      <?include ..\XBeach\XBeachCommonPlugin.wxi?>
      <?undef PLUGIN_ID ?>
      <?undef PLUGIN_ID_2 ?>

      <?define PLUGIN_ID ="e4cca600-b5aa-4e51-a7e2-af8948175826" ?>
      <?define PLUGIN_ID_2 ="39ca6eab-27aa-4503-ae85-5ed5974d65e7" ?>
      <?include XBeach1DPlugin.wxi?>
      <?undef PLUGIN_ID ?>
      <?undef PLUGIN_ID_2 ?>
      
      <?define PLUGIN_ID ="c67024a0-2789-4e67-a9e1-181250cf6745" ?>
      <?include MorphAnXBeachIntegrator.wxi?>
      <?undef PLUGIN_ID ?>
    
      <?define PLUGIN_ID ="adf644fc-6261-49e4-84ea-d8384df23cac" ?>
      <?include ..\..\DeltaShell\Plugins\ScriptingPlugin.wxi?>
      <?undef PLUGIN_ID ?>

      <?define PLUGIN_ID ="fdf644fc-6261-49e4-84ea-d8384df23ca3" ?>
      <?include ..\..\DeltaShell\Plugins\ScriptingGuiPlugin.wxi?>
      <?undef PLUGIN_ID ?>
      
      <?define PLUGIN_ID ="2faaaf5a-dcee-4396-86e3-a23c58743d79" ?>
      <?include ..\..\DeltaShell\Plugins\ToolboxPlugin.wxi?>
      <?undef PLUGIN_ID ?>
        
      <?define PLUGIN_ID ="3f2ad160-3f6e-4f40-9c71-0071d83d1c8e" ?>
      <?include ..\..\DeltaShell\Plugins\ToolboxGuiPlugin.wxi?>
      <?undef PLUGIN_ID ?>

    </DirectoryRef>

    <DirectoryRef Id="ProgramGroupMenuDir">
      <Component Id="ProgramGroupMenuDir" Guid="4A4B60E2-A17E-4B0D-AA8D-BDD1096A1DB4">
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedFolder0" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="ProgramGroupMenuDir" On="uninstall" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuDir" Guid="C0B27E8B-4AB6-430C-AC13-419C9FC8CCB2">
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.ProductName)"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Description="Uninstalls $(var.ProductName)"/>
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedFolder1" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ScriptsDir">
      <?include .\Scripting\MorphAnScriptingToolbox.wxi?>
    </DirectoryRef>
    
    <Feature Id="Complete" Title="$(var.Title)" Description="The complete package."
             Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      
      <Feature Id="DeltaShell" Title="Delta Shell" Description="Framework for plugins" Level="1" Absent="disallow" AllowAdvertise="no">
        <MergeRef Id="VCRedis10"/>
        <ComponentRef Id="MainExecutable" />
        <ComponentRef Id="MainDirComponent" />
        <ComponentRef Id="DeltaShellExeAndStartMenuShortcut"/>
        <ComponentRef Id="MorphAnManualStartMenuShortcut"/>
        <ComponentRef Id='MainExecutableResourcesNL' />
        <ComponentRef Id="ProgramGroupMenuDir"/>
        <ComponentRef Id="ProgramMenuDir" />
		    <ComponentRef Id="comp_netcdf_x86" />
      </Feature>

      <Feature Id="DeltaShellPlugins" Title="Common Plugins" Description="Common plugins for Delta Shell framework" Level="1" Absent="disallow" AllowAdvertise="no" Display="hidden">
        <ComponentRef Id="CommonToolsPlugin" />
        <ComponentRef Id="CommonToolsGuiPlugin" />
        <ComponentRef Id="NHibernatePlugin" />
		    <ComponentRef Id="comp_sqlite_x86" />
        <ComponentRef Id="NetCDFPlugin"/>
        <ComponentRef Id="ProjectExplorerPlugin"/>
        <ComponentRef Id="ProjectExplorerPluginResourcesNL"/>
        <ComponentRef Id="ProjectExplorerPluginResourcesRU"/>
        <ComponentRef Id="SharpMapGisPlugin"/>
        <ComponentRef Id="SharpMapGisGuiPlugin"/>
        <ComponentRef Id="comp_netcdf_x86" />
        <ComponentRef Id="comp_SharpMap_Extensions_gdal_x86" />
        <?include ..\..\DeltaShell\GdalData_FeatureContent.wxi?>
      </Feature>
      
      <Feature Id="MorphAn" Title="$(var.Title)" Description ="$(var.Description)" Level="3" Absent="disallow" AllowAdvertise="no">
        <ComponentRef Id="MorphAnPlugin"/>
        <ComponentRef Id="MorphAnGuiPlugin"/>
        <ComponentRef Id="MorphAnPluginResourcesNL"/>
        <ComponentRef Id="MorphAnRspData"/>
        <ComponentRef Id="MorphAnCoastalAreasData"/>
        <ComponentRef Id="MorphAnJarkusFiles"/>
        <ComponentRef Id="MorphAnBoundaryConditionsFiles"/>
      </Feature>

      <Feature Id="Scripting" Title="Scripting (prototype)" Description="Plugins that allow scripting of MorphAn" Level="4" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="ScriptingPlugin"/>
        <ComponentRef Id="ScriptingGuiPlugin"/>
        <ComponentRef Id="ToolboxPlugin"/>
        <ComponentRef Id="ToolboxGuiPlugin"/>
        <?include ..\..\DeltaShell\PythonLibraries_FeatureContent.wxi?>
        <?include ..\..\DeltaShell\PythonScripts_FeatureContent.wxi?>
        <?include .\Scripting\Feature_MorphAnScriptingToolbox.wxi?>
      </Feature>

      <?include ..\XBeach\Feature_ToolboxPluginDefaultScriptingDirectories.wxi?>
        
      <Feature Id="XBeach" Title="XBeach 1D (prototype)" Description="These plugins add and integrate XBeach 1D into MorphAn" Level="4" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="XBeachCommonPlugin"/>
        <ComponentRef Id="XBeachCommonGuiPlugin"/>
        <ComponentRef Id="XBeachDlls"/>
        <ComponentRef Id="XBeach1DPlugin"/>
        <ComponentRef Id="XBeach1DGuiPlugin"/>
        <ComponentRef Id="MorphAnXBeachIntegratorPlugin"/>
      </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" ></Property>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!--Note that jpg and png in setup is visible on Windows7, but not on XP and Vista-->
    <WixVariable Id="WixUIBannerBmp" Value="Resources/morphan_setup_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/morphan_setup_start.bmp" />
        
    <WixVariable Id="WixUICostingPopupOptOut" Value="dummy" />
                     
    <UIRef Id="Morphan_WixUI_Deltares" />
    <UI>
      <TextStyle Id="White8" FaceName="Tahoma" Bold="yes" Size="16" Red="0" Green="0" Blue="0"  />

      <!-- These dialog references are needed for CloseApplication above to work correctly -->

      <DialogRef Id="FilesInUseDeltares" />
      <DialogRef Id="MsiRMFilesInUseDeltares" />

    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />

    <InstallExecuteSequence>
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <!--RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts-->
      <RemoveExistingProducts Before="InstallInitialize"/>
    </InstallExecuteSequence>
    
  </Product>
</Wix>
