<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (C) Stichting Deltares 2016. All rights preserved.

This file is part of Ringtoets.

Ringtoets is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

All names, logos, and references to "Deltares" are registered trademarks of 
Stichting Deltares and remain full property of Stichting Deltares at all times. 
All rights preserved.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Common.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Common.Gui.Properties.Settings>
            <setting name="lastVisitedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindow_FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindow_X" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindow_Y" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="startPageName" serializeAs="String">
                <value>Startpagina</value>
            </setting>
            <setting name="showStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showHiddenDataItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorTheme" serializeAs="String">
                <value>Generic</value>
            </setting>
        </Core.Common.Gui.Properties.Settings>
    </userSettings>
</configuration>