<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?define IncludeX64="true" ?>

  <?define Description="D-FM Delta Shell" ?>
  <?define StartPage="Welcome.htm"?>
  
  <?ifdef var.RWS?>
  <?define Delft3DPackageName="D-HYDRO"?>
  <?else?>
  <?define Delft3DPackageName="Delft3D Flexible Mesh"?>
  <?endif?>

  <?define pluginicon="$(var.ProjectDir)\Resources\FM.ico"?>
  <?define licensefile="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\License.rtf"?>
  <?define windowlayoutfile="$(var.ProjectDir)\Resources\WindowLayout_normal.xml"?>
  <?define setupbanner="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\setup_banner.jpg"?>
  <?define setupstartup="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\setup_start.jpg"?>

  <!-- Give these definitions to the plugin with include files -->
  <?define manualswxi="$(var.ProjectDir)\Manuals.wxi"?>
  <?define pluginswxi="$(var.ProjectDir)\Plugins.wxi"?>
  <?define plugin_manualshortcuts="$(var.ProjectDir)\ManualShortcuts.wxi"?>
  <?define plugin_features="$(var.ProjectDir)\Features.wxi"?>
  <?define plugin_utilityshortcuts="$(var.ProjectDir)\UtilityShortcuts.wxi"?>

  <!-- optional extra files to include in the bin folder in the main feature -->
  <?define customizationwxi="$(var.ProjectDir)\Extras.wxi"?>

  <?define supportEmail="delft3d.support@deltares.nl"?>

  <!-- optional splash screen -->
  <?define mainWindowTitle="$(var.ProductName)"?>
  <?define splashScreenLogoImageFilePath="splash_screen.jpg"?>
  <?define splashScreenCopyright="© Deltares 2015"?>
  <?define splashScreenCompany="Rijkswaterstaat"?>
  <?define splashScreenLicense="NGHS project"?>

  <?ifdef var.RWS?>
  <?define splashScreenCompany="Rijkswaterstaat"?>
  <?else?>
  <?define splashScreenCompany="Deltares"?>
  <?endif?>
  
  <?ifdef var.RWS?>
  <?define splashScreenLicense="NGHS project"?>
  <?else?>
  <?define splashScreenLicense="Valid until 3 nov 2015"?>
  <?endif?>

  <?include ..\..\DeltaShell\Templates\PluginTemplate.wxi?>
</Wix>