body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:760px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:760px;
}
#u2 {
  position:absolute;
  left:2px;
  top:372px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:760px;
  width:1280px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:760px;
  width:140px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:26px;
}
#u8 {
  position:absolute;
  left:25px;
  top:5px;
  width:1253px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:25px;
  width:1280px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:25px;
  width:90px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:25px;
  width:90px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:220px;
  top:49px;
  width:5px;
  height:711px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:711px;
}
#u16 {
  position:absolute;
  left:2px;
  top:348px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:975px;
  top:49px;
  width:5px;
  height:711px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:711px;
}
#u18 {
  position:absolute;
  left:2px;
  top:348px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:980px;
  top:580px;
  width:300px;
  height:5px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:21px;
  top:50px;
  width:124px;
  height:65px;
}
#u21_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  color:#000000;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:42px;
  white-space:nowrap;
}
#u22_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27 {
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  color:#000000;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u31 {
  position:absolute;
  left:3px;
  top:2px;
  width:72px;
  white-space:nowrap;
}
#u27_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:20px;
  top:20px;
  width:61px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:41px;
  top:70px;
  width:99px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:140px;
  top:70px;
  width:140px;
  height:20px;
}
#u38_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:61px;
  top:110px;
  width:61px;
  height:20px;
}
.u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
.u43_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
.u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  height:16px;
}
.u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
}
.u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
.u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
