<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="CommonDocumentsInstallationVerification">
      <Component Id="HLCDFile" Guid="841AAE17-FEDC-4D06-A5C6-887E59996140">
        <File Source="InstallationVerification\hlcd.sqlite" KeyPath="yes"/>
      </Component>
      <Component Id="HRDConfigFile" Guid="AA3C6607-7B3A-4A34-9C46-430CEA76BD4C">
        <File Source="InstallationVerification\WBI2017_IJsselmeer_12-2_v02.config.sqlite" KeyPath="yes"/>
      </Component>
      <Component Id="HRDFile" Guid="D495D4D6-8B24-48FC-936C-CB921714CDED">
        <File Source="InstallationVerification\WBI2017_IJsselmeer_12-2_v02.sqlite" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>
  <Fragment>
    <ComponentGroup Id="InstallationVerificationFiles">
      <ComponentRef Id="HLCDFile"/>
      <ComponentRef Id="HRDConfigFile"/>
      <ComponentRef Id="HRDFile"/>
    </ComponentGroup>
  </Fragment>
</Wix>