<?xml version="1.0"?>
<configuration>
  <configSections>
		<section name="plugin" type="DeltaShell.Core.PluginConfigurationSectionHandler, DeltaShell.Core"/>
		<sectionGroup name="NUnit">
                     <section name="TestRunner" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
<!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\client-log.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
      logEntireMessage="true"
      logMalformedMessages="false"
      logMessagesAtServiceLevel="false"
      logMessagesAtTransportLevel="true"
      maxMessagesToLog="3000"
      maxSizeOfMessageToLog="10000"/>
    </diagnostics>
  </system.serviceModel>  
-->
  <plugin>
		<commands>
			<command class="MapZoomInCommand" name="Zoom &amp;In ..." shortcutkey="Ctrl-C" image="image6" category="Map" tooltip="Zoom in using rectangle ..."/>
			<command class="MapCommand(ZoomOut)" name="Zoom &amp;Out" image="image2" category="Map"/>
			<command class="MapCommand(AddLayer)" name="&amp;Add Layer ..." image="image2" category="Map"/>
			<command class="MapCommand(RemoveAllLayers)" name="Remove All Layers" image="image3" category="Map"/>
			<command class="MapCommand(ProjectLayer)" name="&amp;Project layer ..." image="image4" category="Map"/>
			<command class="MapCommand(ExportLayer)" name="&amp;Export layer ..." image="image5" category="Map"/>
			<command class="MapCommand(ZoomWorld)" name="Zoom world ..." image="image6" category="Map"/>
		</commands>
		<ui>
			<menus>
				<menu name="Map" after="Edit">
					<itemgrp name="Zoom Commands">
						<itemgrp class="MapCommand(ZoomIn)"/>
						<separator/>
						<itemgrp class="MapCommand(ZoomOut)"/>
					</itemgrp>
				</menu>
				<menu activeforview="LayerAttributesTable">
				</menu>
			</menus>
			<toolbars>
				<toolbar name="Map" activeforview="Map">
					<itemgrp name="ComboItem">
						<itemgrp class="MapCommand(ZoomIn)"/>
					</itemgrp>
					<itemgrp class="MapCommand(ZoomIn)"/>
					<itemgrp class="MapCommand(ZoomOut)"/>
				</toolbar>
			</toolbars>
		</ui>
	</plugin>
	<startup>
	</startup>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
