<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="fileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString">
      <converter>
        <name value="path" />
        <type value="Core.Common.Gui.Appenders.RiskeerUserDataFolderConverter, Core.Common.Gui" />
      </converter>
      <!-- Note: Don't use ':' in the filename since it is illegal (NTFS) and log4net will silently ignore you! -->
      <conversionPattern value="%path{BOI\Riskeer}\Riskeer-%date{yyyy.MMM.dd.HH.mm.ss}.log" />
    </file>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger.%M - %message%newline" />
    </layout>
  </appender>
  <appender name="messageWindow" type="Core.Common.Gui.Forms.MessageWindow.MessageWindowLogAppender, Core.Common.Gui" />
  <root>
    <level value="DEBUG" />
    <appender-ref ref="runReportAppender" />
    <appender-ref ref="fileAppender" />
    <appender-ref ref="messageWindow" />
  </root>
</log4net>