<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BINDIR">
            <Component Id="cmp465532229E3A6A28263C6BC347D65D48" Guid="{E2A05AE4-CC8F-4187-BC0A-BE65D55DECE7}">
                <File Id="fil910AC581D0774CB09A96F939966FFFF7" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\AvalonDock.txt" />
            </Component>
            <Component Id="cmp3644830DC43B46AD18A38CA5BA2AE1A1" Guid="{872BB6B3-B2DC-493D-BF55-26C985369F1B}">
                <File Id="filEB76951D30FD460089FB338E02B73C02" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Controls.txt" />
            </Component>
            <Component Id="cmp86D52B14B9B8DEB3A61FD52EB7788783" Guid="{CCD945D2-8CFC-4C62-A786-7F0A04B1DBE6}">
                <File Id="filEF4885F8EDAA785F39D7CCCE9C0A1DE2" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Data.Forms.txt" />
            </Component>
            <Component Id="cmp2457F070258C3CFF1486229905669092" Guid="{5C2619E9-2B12-431B-B298-B98276A75BCB}">
                <File Id="fil489E4F3CDF2B3A6F2ED9AE12B459AC39" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Data.txt" />
            </Component>
            <Component Id="cmp4440C60625F2D2305FE9E52B470E7DBB" Guid="{5DB98605-1DA9-45C3-A996-673716AFA5C2}">
                <File Id="fil3A5CB51AA400381938BCDAA1377D4942" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Extensions.txt" />
            </Component>
            <Component Id="cmp442F685745B2B9C3287550CFA380D066" Guid="{41B1292C-5627-4397-8FD4-998FF332E280}">
                <File Id="fil52A3E1119CDEC0DE4A76E971CE988981" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Modeling.Forms.txt" />
            </Component>
            <Component Id="cmp6EC03A9E5053791CD47E87BA10AE3EE2" Guid="{60BB4B0A-634D-4D1F-9654-720423BEABDD}">
                <File Id="fil8854568E0E6621D3E420A2A9D623910A" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Mono.txt" />
            </Component>
            <Component Id="cmp9107650640759C093AAB31541489D6C6" Guid="{18978E2B-8A5B-472A-A863-F5A043F588C4}">
                <File Id="filABD50B18D7A9C8DEEA1AECF872C4F992" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Projections.Forms.txt" />
            </Component>
            <Component Id="cmp7D152CB6C336BBA884C2B390A7072D8B" Guid="{8480CF14-9765-4E5F-AACC-05713D646F12}">
                <File Id="fil9A5E573B687F6D312D00320B0E7E6521" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Projections.txt" />
            </Component>
            <Component Id="cmp462B9AC092E1EFE3733B5618CDC69F24" Guid="{FB34B86D-CC10-41B5-BA23-0A91F5FA825B}">
                <File Id="fil43F1D61D41BA0D56425E2D689240963C" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Serialization.txt" />
            </Component>
            <Component Id="cmpC60C60A52F7A8BBB3C3A1239DE911B29" Guid="{2D605CA4-8638-420C-9C7C-D11BDF3B4C26}">
                <File Id="filEF42F1EABA4E554ECA63E8716442FD88" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Symbology.Forms.txt" />
            </Component>
            <Component Id="cmp50B5A84DCDCC3EAA92BFC46D6BD0E1DD" Guid="{8D03CE6F-7385-4421-9014-6ECB0913250F}">
                <File Id="fil92A9B90EE083FE7F638994EC610DF84B" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Symbology.txt" />
            </Component>
            <Component Id="cmp962129B374F2E260DEF7EFDEC6317015" Guid="{8E5A847E-4EF9-4C1E-A690-CD76DED3FFFB}">
                <File Id="fil183C307FFB309F865E2CE127BDD81072" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\DotSpatial.Topology.txt" />
            </Component>
            <Component Id="cmpF11748C3A49D281298CE8AF34F497939" Guid="{E1E75AE3-9FD8-45C0-9295-25B4F848CADF}">
                <File Id="fil4B64C65791D02AE368C653F57B5EC068" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\EntityFramework.txt" />
            </Component>
            <Component Id="cmp332FE799A18BC5FE48BB01E57FB3698E" Guid="{43C3DFE3-D4A7-4B95-AD1E-D05D4B1B70C5}">
                <File Id="fil13250A820DB23D371E3F5F4EF47D2310" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\Fluent.Ribbon.txt" />
            </Component>
            <Component Id="cmp5E69906516E5C7427DBD2FF5158E7310" Guid="{422B0403-E73F-4C17-85BA-7A476EFC60D7}">
                <File Id="fil53FCBE10DA4AEC372FA89EA9898F2A59" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\GDAL.Native.txt" />
            </Component>
            <Component Id="cmp8941F4893EE8B19BA49F44D091EE3BF9" Guid="{100F6512-D134-4BD2-BF59-7CA1F1F652ED}">
                <File Id="fil566920DF5EA54B02B5C623CB602C2264" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\GDAL.txt" />
            </Component>
            <Component Id="cmp1CFDC39832F119FEB317F5B5DFDF4ACF" Guid="{B22ED393-9E2D-4D08-BA0C-24918CB0E9FA}">
                <File Id="filD22778606E61F3850D039D21501211D8" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\log4net.txt" />
            </Component>
            <Component Id="cmpA0A84A265E1AAED5E161EB92035748F8" Guid="{BDC6EF6B-6DB7-4BFB-B3DB-A398386A0B01}">
                <File Id="fil5A18AD941737657403E092DC6CA3D93C" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\MathNet.Numerics.txt" />
            </Component>
            <Component Id="cmp02A957CD4F67E702159E3165F0A47B65" Guid="{FB4FFE84-73DE-4154-877A-8FBACE560D7B}">
                <File Id="filF907971121949C028B46B4FEA6745809" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\OxyPlot.Core.txt" />
            </Component>
            <Component Id="cmp034B413D835BB9837358842EF5CDC5A0" Guid="{698C1AA1-AD6A-4BC5-A1DB-EFD1704B3EC1}">
                <File Id="filB1663ABC4D2B7B69FF7D32B8A67419A3" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\OxyPlot.WindowsForms.txt" />
            </Component>
            <Component Id="cmp6A4617EB39EDBC4B2A77A677EAB80FC7" Guid="{781F7140-2429-45F7-BFB5-241BBB969C1A}">
                <File Id="fil546734CA83F1BD5901C11349E24E7E17" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\System.Data.SQLite.Core.txt" />
            </Component>
            <Component Id="cmp5A316967DBD8ED0F7BCA7E07B2F4F67A" Guid="{AFD2BD0C-FBF9-4E9C-B7C2-29F5CB22836B}">
                <File Id="filE8C9D21500CE363BBE92AB8C43EE655E" KeyPath="yes" Source="$(var.InstallerLicensesFolder)\System.Data.SQLite.EF6.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ThirdPartyLicenseComponents">
            <ComponentRef Id="cmp465532229E3A6A28263C6BC347D65D48" />
            <ComponentRef Id="cmp3644830DC43B46AD18A38CA5BA2AE1A1" />
            <ComponentRef Id="cmp86D52B14B9B8DEB3A61FD52EB7788783" />
            <ComponentRef Id="cmp2457F070258C3CFF1486229905669092" />
            <ComponentRef Id="cmp4440C60625F2D2305FE9E52B470E7DBB" />
            <ComponentRef Id="cmp442F685745B2B9C3287550CFA380D066" />
            <ComponentRef Id="cmp6EC03A9E5053791CD47E87BA10AE3EE2" />
            <ComponentRef Id="cmp9107650640759C093AAB31541489D6C6" />
            <ComponentRef Id="cmp7D152CB6C336BBA884C2B390A7072D8B" />
            <ComponentRef Id="cmp462B9AC092E1EFE3733B5618CDC69F24" />
            <ComponentRef Id="cmpC60C60A52F7A8BBB3C3A1239DE911B29" />
            <ComponentRef Id="cmp50B5A84DCDCC3EAA92BFC46D6BD0E1DD" />
            <ComponentRef Id="cmp962129B374F2E260DEF7EFDEC6317015" />
            <ComponentRef Id="cmpF11748C3A49D281298CE8AF34F497939" />
            <ComponentRef Id="cmp332FE799A18BC5FE48BB01E57FB3698E" />
            <ComponentRef Id="cmp5E69906516E5C7427DBD2FF5158E7310" />
            <ComponentRef Id="cmp8941F4893EE8B19BA49F44D091EE3BF9" />
            <ComponentRef Id="cmp1CFDC39832F119FEB317F5B5DFDF4ACF" />
            <ComponentRef Id="cmpA0A84A265E1AAED5E161EB92035748F8" />
            <ComponentRef Id="cmp02A957CD4F67E702159E3165F0A47B65" />
            <ComponentRef Id="cmp034B413D835BB9837358842EF5CDC5A0" />
            <ComponentRef Id="cmp6A4617EB39EDBC4B2A77A677EAB80FC7" />
            <ComponentRef Id="cmp5A316967DBD8ED0F7BCA7E07B2F4F67A" />
        </ComponentGroup>
    </Fragment>
</Wix>